<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.text_field:text  %>
    <%= form.submit 'send message' %>
  </div>
  <p>current user id: <%= @user_id %></p>
  <div style="display: none">
    <%= form.check_box :is_response, checked:@is_response  %>
  </div>
  <div  style="display: none">
    <%= form.text_field :user_id, value:@user_id %>
  </div>
  <div style="display: none">
    <%= form.text_field :listing_id, value:@listing_id  %>
  </div>
<% end %>
