<div id="<%= dom_id message %>">
  <p>
    <strong>Text:</strong>
    <%= message.text %>
  </p>
  <p>
    <strong>Is response:</strong>
    <%= message.is_response %>
  </p>
  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

  <p>
    <strong>Listing:</strong>
    <%= message.listing_id %>
  </p>

</div>
