<p style="color: green"><%= notice %></p>
<h1>Messages</h1>
<div id="messages" class="container-fluid mb-2">
  <div class="row">
    <h3> Enquires For My Listing </h3>
      <% @recived_message_grouped.each do |listing, messages| %>
        <div class="bg-secondary p-2 text-dark bg-opacity-10 mb-2">
          <p>
            <strong>Sent from User:</strong>
            <%= User.find(messages[0].user_id).email %>
            <strong>for my listing: </strong><%= link_to Listing.find(messages[0].listing_id).name, Listing.find(messages[0].listing_id) %>
            <strong>Listing key: </strong><%= listing %>
          </p>
          <% messages.each do |message| %>
            <%= render message %>
          <% end %>
            <a href="/messages/new?listing=<%= messages[0].listing_id %>&user=<%= messages[0].user_id %>"> Reply </a>
        </div>
    <% end %> 
  </div>
</div>
<div id="messages" class="container-fluid">
  <div class="row">
    <h3> Want To Buy </h3>
    <% @sent_message_grouped.each do |key, messages| %>
      <div class="bg-secondary p-2 text-dark bg-opacity-10 mb-2">
        <p>
        <strong>Listing name: </strong><%= link_to Listing.find(messages[0].listing_id).name, Listing.find(messages[0].listing_id) %>
        </p>
        <% messages.each do |message| %>
          <%= render message %>
        <% end %>
        <div>
          <a href="/messages/new?listing=<%= messages[0].listing_id %>&user=<%= messages[0].user_id %>"> Send message to seller </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
