<p style="color: green"><%= notice %></p>
<h1>Messages</h1>
<div id="messages">
  <h3> my listing </h3>
  <% @recived_message.each do |message| %>
    <%= render message %>
    <p>
      <div>
        <a href="/messages/new?listing-id=<%= message.listing_id %>"> Reply </a>
      </div>
    </p>
  <% end %>
</div>
<div id="messages">
  <h3> ohters listing </h3>
  <% @sent_message.each do |message| %>
    <%= render message %>
    <p>
      <div>
        <a href="/messages/new?listing-id=<%= message.listing_id %>"> Reply </a>
      </div>
    </p>
  <% end %>
</div>
