<h1>Message for <%= link_to @listing.name, @listing %></h1>
<br>
<%# display the histroy message with dialogue format %>
<div>
  <% @histroy_messages.each do |histroy_message| %>
    <% if histroy_message.is_response %>
      <div class="text-end bg-success p-2 text-dark bg-opacity-50 mb-2">
        <%= histroy_message.text %>
      </div>
    <% else %>
      <div class="bg-secondary p-2 text-dark bg-opacity-50 mb-2">
        <%= histroy_message.text %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "form", message: @message %>
<div>
  <%= link_to "Back to messages", messages_path %>
</div>
