<div id="<%= dom_id listing %>">
  <p>
    <strong>id:</strong>
    <%= listing.id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>
  <p>
    <strong>category_id:</strong>
    <%= listing.category_id %>
  </p>
  <p>
    <strong>Condition:</strong>
    <%= listing.condition %>
  </p>
</div>
