<p style="color: green"><%= notice %></p>
<h1>Listings</h1>
<% if user_signed_in?  %>
  <%= link_to "New listing", new_listing_path, class: "btn btn-primary my-1" %>
<% end %>
<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-4">
      <div class="card my-1" style="width: 18rem;">
        <% if listing.picture.attached? %>
          <%= image_tag listing.picture %>
        <% else %>
           <%= image_tag("listing_default.png", alt: "Default Listing Picture") %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= listing.name %></h5>
          <%= number_to_currency(listing.price) %>
          <p class="card-text">  <%= listing.condition %>.</p>
          <%= link_to 'Show this listing', listing, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

