<p style="color: green"><%= notice %></p>
<h1>Listings</h1>
<div id="listings">
  <% @listings.each do |listing| %>
    <%= image_tag listing.picture %>
    <%= render listing %>
    <p>
      <%= link_to "Show this listing", listing %>
    </p>
  <% end %>
</div>
<% if user_signed_in?  %>
  <%= link_to "New listing", new_listing_path %>
<% end %>
