<p style="color: green"><%= notice %></p>
<h1>Listings</h1>
<% if user_signed_in?  %>
  <%= link_to "New listing", new_listing_path, class: 'btn btn-primary' %>
<% end %>
<div id="listings">
  <% @listings.each do |listing| %>
    <% if listing.picture.attached? %>
      <%= image_tag listing.picture %>
    <% else %>
      <%= image_tag("listing_default.png", alt: "Default Listing Picture") %>
    <% end %>
    <%= render listing %>
    <p>
      <%= link_to "Show this listing", listing %>
    </p>
  <% end %>
</div>

