<p style="color: green"><%= notice %></p>
<% if @listing.picture.attached? %>
  <%= image_tag @listing.picture %>
<% else %>
  <%= image_tag("listing_default.png") %>
<% end %>
<%= render @listing %>
<div>
  <% if @can_edit %>
    <%= link_to "Edit this listing", edit_listing_path(@listing), class: "btn btn-warning mb-2" %>
    <%= button_to "Destroy this listing", @listing, class: "btn btn-danger mb-2", method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@listing.name}'?" } } %>
  <% end %>
  <% if user_signed_in? && !@can_edit %>
    <div>
      <a href="/messages/new?listing=<%=@listing.id%>&user=<%= current_user.id %>" class="btn btn-info my-2"> Send message </a>
    </div>
  <% end %>
  <%= link_to "Back to listings", listings_path, class: "btn btn-primary" %>
</div>
