<p style="color: green"><%= notice %></p>
<%= image_tag @listing.picture if @listing.picture.attached? %>
<%= render @listing %>
<div>
  <% if @can_edit %>
    <%= link_to "Edit this listing", edit_listing_path(@listing) %> |
  <% end %>
  <% if  @can_edit %>
    <%= button_to "Destroy this listing", @listing, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@listing.name}'?" } } %>
  <% end %>
  <% if user_signed_in? && !@can_edit %>
    <div>
      <a href="/messages/new?listing=<%=@listing.id%>&user=<%= current_user.id %>"> Send message </a>
    </div>
  <% end %>
  <%= link_to "Back to listings", listings_path %>
</div>
